/*===== Font =====*/
@import url('https://fonts.googleapis.com/css?family=Bungee|Bungee+Shade|');
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
/*===== Scrollbar =====*/
::-webkit-scrollbar {width: 12px;height: 12px;}
::-webkit-scrollbar-track-piece {background:#1d1e1f;}
::-webkit-scrollbar-thumb:vertical {height:10px;background:#171717;}
::-webkit-scrollbar-thumb:vertical:hover {background:#171717;}
::-webkit-scrollbar-thumb:horizontal {width:10px;background:#171717;}
::-webkit-scrollbar-thumb:horizontal:hover {background:#71CA55;}

/*===== BODY =====*/
body{
  font-family:  'Open Sans';
  background-color: #222222;
  color: #fff;
  margin: 0 auto;
  text-align: center;
}

/*===== HEAD =====*/
.head {
  font-family: 'Open Sans';
  font-size: 32px;
}
h1{
  font-family: 'Bungee Shade';
  font-size: 70px;
  color: pink ;
}
p {
  font-family: 'Open Sans';
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
}
a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  opacity: .8;
}
a:hover{
  opacity: 1;
  color: pink;
}

/* HISTORY
/*------------------------
- RED BUTTON
- BLUE BUTTON
- GREEN BUTTON
- YELLOW BUTTON
- LIGHTBLUE BUTTON
- BAIGE BUTTON
- PO BUTTON
- BROWN BUTTON

- CUBE-RED BUTTON
- CUBE-BLUE BUTTON
- CUBE-GREEN BUTTON
- CUBE-YELLOW BUTTON
- CUBE-LIGHTBLUE BUTTON
- CUBE-BAIGE BUTTON
- CUBE-PO BUTTON
- CUBE-BROWN BUTTON

- ROUND-RED BUTTON
- ROUND-BLUE BUTTON
- ROUND-GREEN BUTTON
- ROUND-YELLOW BUTTON
- ROUND-LIGHTBLUE BUTTON
- ROUND-BAIGE BUTTON
- ROUND-PO BUTTON
- ROUND-BROWN BUTTON

- ROUND_IMAGE_RED BUTTON
- ROUND_IMAGE_BLUE BUTTON
- ROUND_IMAGE_GREEN BUTTON
- ROUND_IMAGE_YELLOW BUTTON
- ROUND_IMAGE_LIGHTBLUE BUTTON
- ROUND_IMAGE_BAIGE BUTTON
- ROUND_IMAGE_PO BUTTON
- ROUND_IMAGE_BROWN BUTTON

- BUBBLE-RED BUTTON
- BUBBLE-BLUE BUTTON
- BUBBLE-GREEN BUTTON
- BUBBLE-YELLOW BUTTON
- BUBBLE-LIGHTBLUE BUTTON
- BUBBLE-BAIGE BUTTON
- BUBBLE-PO BUTTON
- BUBBLE-BROWN BUTTON
----------------------------*/

/*===== RED BUTTON =====*/
.red, .red-border, .red-big, .red-small, .red-border-big, .red-border-small{
  font-family: 'Open Sans';
  background-color: #f01e45;
  color: #ffffff;
  display: inline-block;
  font-size:16px;
  padding: 13px 32px;
  border-radius: 42px;
  cursor: pointer;
  opacity: .8;
}
.red-big, .red-border-big{
  font-size: 32px;
}
.red-small, .red-border-small{
  font-size: 12px;
  padding: 10px 10px;
}
.red-border, .red-border-big, .red-border-small{
  border: 2px solid #fff;
}

.red:hover, .red-border:hover, .red-big:hover, .red-small:hover, .red-border-big:hover, .red-border-small:hover{
  background-color #d7193d;
  opacity: 1;
}

/*===== BLUE BUTTON =====*/
.blue, .blue-border, .blue-big, .blue-small, .blue-border-big, .blue-border-small {
  font-family:  'Open Sans';
  background-color: #4d98dc;
  color: #ffffff;
  display: inline-block;
  font-size:16px;
  padding: 13px 32px;
  border-radius: 42px;
  cursor: pointer;
  opacity: .8;
}
.blue-big, .blue-border-big{
  font-size: 32px;
}
.blue-small, .blue-border-small{
  font-size: 12px;
  padding: 10px 10px;
}
.blue-border, .blue-border-big, .blue-border-small{
  border: 2px solid #fff;
}
.blue:hover, .blue-border:hover, .blue-big:hover, .blue-small:hover, .blue-border-big:hover, .blue-border-small:hover {
  background-color #3f7bb2;
  opacity: 1;
}

/*===== GREEN BUTTON =====*/
.green, .green-border, .green-big, .green-small, .green-border-big, .green-border-small {
  font-family: 'Open Sans';
  background-color: #6fd43f;
  color: #ffffff;
  display: inline-block;
  font-size:16px;
  padding: 13px 32px;
  border-radius: 42px;
  cursor: pointer;
  opacity: .8;
}
.green-big, .green-border-big{
  font-size: 32px;
}
.green-small, .green-border-small{
  font-size: 12px;
  padding: 10px 10px;
}
.green-border, .green-border-big, .green-border-small{
  border: 2px solid #fff;
}
.green:hover, .green-border:hover, .green-big:hover, .green-small:hover, .green-border-big:hover, .green-border-small:hover {
  background-color #59a934;
  opacity: 1;
}

/*===== YELLOW BUTTON =====*/
.yellow, .yellow-border, .yellow-big, .yellow-small, .yellow-border-big, .yellow-border-small {
  font-family: 'Open Sans';
  background-color: #ffc700;
  color: #ffffff;
  display: inline-block;
  font-size:16px;
  padding: 13px 32px;
  border-radius: 42px;
  cursor: pointer;
  opacity: .8;
}
.yellow-big, .yellow-border-big{
  font-size: 32px;
}
.yellow-small, .yellow-border-small{
  font-size: 12px;
  padding: 10px 10px;
}
.yellow-border, .yellow-border-big, .yellow-border-small{
  border: 2px solid #fff;
}
.yellow:hover, .yellow-border:hover, .yellow-big:hover, .yellow-small:hover, .yellow-border-big:hover, .yellow-border-small:hover {
  background-color #d6a700;
  opacity: 1;
}

/*===== LIGHTBLUE BUTTON =====*/
.lightblue, .lightblue-border, .lightblue-big, .lightblue-small, .lightblue-border-big, .lightblue-border-small {
  font-family: 'Open Sans';
  background-color: #12cde3;
  color: #ffffff;
  display: inline-block;
  font-size:16px;
  padding: 13px 32px;
  border-radius: 42px;
  cursor: pointer;
  opacity: .8;
}
.lightblue-big, .lightblue-border-big{
  font-size: 32px;
}
.lightblue-small, .lightblue-border-small{
  font-size: 12px;
  padding: 10px 10px;
}
.lightblue-border, .lightblue-border-big, .lightblue-border-small{
  border: 2px solid #fff;
}
.lightblue:hover, .lightblue-border:hover, .lightblue-big:hover, .lightblue-small:hover, .lightblue-border-big:hover, .lightblue-border-small:hover {
  background-color #10b3c6;
  opacity: 1;
}

/*===== BAIGE BUTTON =====*/
.baige, .baige-border, .baige-big, .baige-small, .baige-border-big, .baige-border-small {
  font-family: 'Open Sans';
  background-color: #19bc9b;
  color: #ffffff;
  display: inline-block;
  font-size:16px;
  padding: 13px 32px;
  border-radius: 42px;
  cursor: pointer;
  opacity: .8;
}
.baige-big, .baige-border-big{
  font-size: 32px;
}
.baige-small, .baige-border-small{
  font-size: 12px;
  padding: 10px 10px;
}
.baige-border, .baige-border-big, .baige-border-small{
  border: 2px solid #fff;
}
.baige:hover, .baige-border:hover, .baige-big:hover, .baige-small:hover, .baige-border-big:hover, .baige-border-small:hover {
  background-color #16a387;
  opacity: 1;
}

/*===== PO BUTTON =====*/
.po, .po-border, .po-big, .po-small, .po-border-big, .po-border-small {
  font-family: 'Open Sans';
  background-color: #854a5c;
  color: #ffffff;
  display: inline-block;
  font-size:16px;
  padding: 13px 32px;
  border-radius: 42px;
  cursor: pointer;
  opacity: .8;
}
.po-big, .po-border-big{
  font-size: 32px;
}
.po-small, .po-border-small{
  font-size: 12px;
  padding: 10px 10px;
}
.po-border, .po-border-big, .po-border-small{
  border: 2px solid #fff;
}
.po:hover, .po-border:hover, .po-big:hover, .po-small:hover, .po-border-big:hover, .po-border-small:hover {
  background-color #663947;
  opacity: 1;
}

/*===== BROWN BUTTON =====*/
.brown, .brown-border, .brown-big, .brown-small, .brown-border-big, .brown-border-small {
  font-family: 'Open Sans';
  background-color: #86653d;
  color: #ffffff;
  display: inline-block;
  font-size:16px;
  padding: 13px 32px;
  border-radius: 42px;
  cursor: pointer;
  opacity: .8;
}
.brown-big, .brown-border-big{
  font-size: 32px;
}
.brown-small, .brown-border-small{
  font-size: 12px;
  padding: 10px 10px;
}
.brown-border, .brown-border-big, .brown-border-small{
  border: 2px solid #fff;
}
.brown:hover, .brown-border:hover, .brown-big:hover, .brown-small:hover, .brown-border-big:hover, .brown-border-small:hover {
  background-color #6c5232;
  opacity: 1;
}

/*===== CUBE-RED BUTTON =====*/
.cube-red, .cube-red-big, .cube-red-small, .cube-red-border, .cube-red-border-big, .cube-red-border-small {
  font-family: 'Open Sans';
  background-color: #f01e45;
  color: #ffffff;
  display: inline-block;
  font-size:16px;
  padding: 13px 32px;
  cursor: pointer;
  opacity: .8;
}
.cube-red-big, .cube-red-border-big{
  font-size: 32px;
}
.cube-red-small, .cube-red-border-small{
  font-size: 12px;
  padding: 10px 10px;
}
.cube-red-border, .cube-red-border-big, .cube-red-border-small{
  border: 2px solid #fff;
}
.cube-red:hover, .cube-red-big:hover, .cube-red-small:hover, .cube-red-border:hover, .cube-red-border-big:hover, .cube-red-border-small:hover {
  background-color #d7193d;
  opacity: 1;
}

/*===== CUBE-BLUE BUTTON =====*/
.cube-blue, .cube-blue-big, .cube-blue-small, .cube-blue-border, .cube-blue-border-big, .cube-blue-border-small {
  font-family: 'Open Sans';
  background-color: #4d98dc;
  color: #ffffff;
  display: inline-block;
  font-size:16px;
  padding: 13px 32px;
  cursor: pointer;
  opacity: .8;
}
.cube-blue-big, .cube-blue-border-big{
  font-size: 32px;
}
.cube-blue-small, .cube-blue-border-small{
  font-size: 12px;
  padding: 10px 10px;
}
.cube-blue-border, .cube-blue-border-big, .cube-blue-border-small{
  border: 2px solid #fff;
}
.cube-blue:hover, .cube-blue-big:hover, .cube-blue-small:hover, .cube-blue-border:hover, .cube-blue-border-big:hover, .cube-blue-border-small:hover {
  background-color #3f7bb2;
  opacity: 1;
}

/*===== CUBE-GREEN BUTTON =====*/
.cube-green, .cube-green-big, .cube-green-small, .cube-green-border, .cube-green-border-big, .cube-green-border-small {
  font-family: 'Open Sans';
  background-color: #6fd43f;
  color: #ffffff;
  display: inline-block;
  font-size:16px;
  padding: 13px 32px;
  cursor: pointer;
  opacity: .8;
}
.cube-green-big, .cube-green-border-big{
  font-size: 32px;
}
.cube-green-small, .cube-green-border-small{
  font-size: 12px;
  padding: 10px 10px;
}
.cube-green-border, .cube-green-border-big, .cube-green-border-small{
  border: 2px solid #fff;
}
.cube-green:hover, .cube-green-big:hover, .cube-green-small:hover, .cube-green-border:hover, .cube-green-border-big:hover, .cube-green-border-small:hover {
  background-color #59a934;
  opacity: 1;
}

/*===== CUBE-YELLOW BUTTON =====*/
.cube-yellow, .cube-yellow-big, .cube-yellow-small, .cube-yellow-border, .cube-yellow-border-big, .cube-yellow-border-small {
  font-family: 'Open Sans';
  background-color: #ffc700;
  color: #ffffff;
  display: inline-block;
  font-size:16px;
  padding: 13px 32px;
  cursor: pointer;
  opacity: .8;
}
.cube-yellow-big, .cube-yellow-border-big{
  font-size: 32px;
}
.cube-yellow-small, .cube-yellow-border-small{
  font-size: 12px;
  padding: 10px 10px;
}
.cube-yellow-border, .cube-yellow-border-big, .cube-yellow-border-small{
  border: 2px solid #fff;
}
.cube-yellow:hover, .cube-yellow-big:hover, .cube-yellow-small:hover, .cube-yellow-border:hover, .cube-yellow-border-big:hover, .cube-yellow-border-small:hover {
  background-color #d6a700;
  opacity: 1;
}


/*===== CUBE-LIGHTBLUE BUTTON =====*/
.cube-lightblue, .cube-lightblue-big, .cube-lightblue-small, .cube-lightblue-border, .cube-lightblue-border-big, .cube-lightblue-border-small {
  font-family: 'Open Sans';
  background-color: #12cde3;
  color: #ffffff;
  display: inline-block;
  font-size:16px;
  padding: 13px 32px;
  cursor: pointer;
  opacity: .8;
}
.cube-lightblue-big, .cube-lightblue-border-big{
  font-size: 32px;
}
.cube-lightblue-small, .cube-lightblue-border-small{
  font-size: 12px;
  padding: 10px 10px;
}
.cube-lightblue-border, .cube-lightblue-border-big, .cube-lightblue-border-small{
  border: 2px solid #fff;
}
.cube-lightblue:hover, .cube-lightblue-big:hover, .cube-lightblue-small:hover, .cube-lightblue-border:hover, .cube-lightblue-border-big:hover, .cube-lightblue-border-small:hover {
  background-color #10b3c6;
  opacity: 1;
}


/*===== CUBE-BAIGE BUTTON =====*/
.cube-baige, .cube-baige-big, .cube-baige-small, .cube-baige-border, .cube-baige-border-big, .cube-baige-border-small {
  font-family: 'Open Sans';
  background-color: #19bc9b;
  color: #ffffff;
  display: inline-block;
  font-size:16px;
  padding: 13px 32px;
  cursor: pointer;
  opacity: .8;
}
.cube-baige-big, .cube-baige-border-big{
  font-size: 32px;
}
.cube-baige-small, .cube-baige-border-small{
  font-size: 12px;
  padding: 10px 10px;
}
.cube-baige-border, .cube-baige-border-big, .cube-baige-border-small{
  border: 2px solid #fff;
}
.cube-baige:hover, .cube-baige-big:hover, .cube-baige-small:hover, .cube-baige-border:hover, .cube-baige-border-big:hover, .cube-baige-border-small:hover {
  background-color #16a387;
  opacity: 1;
}


/*===== CUBE-PO BUTTON =====*/
.cube-po, .cube-po-big, .cube-po-small, .cube-po-border, .cube-po-border-big, .cube-po-border-small {
  font-family: 'Open Sans';
  background-color: #854a5c;
  color: #ffffff;
  display: inline-block;
  font-size:16px;
  padding: 13px 32px;
  cursor: pointer;
  opacity: .8;
}
.cube-po-big, .cube-po-border-big{
  font-size: 32px;
}
.cube-po-small, .cube-po-border-small{
  font-size: 12px;
  padding: 10px 10px;
}
.cube-po-border, .cube-po-border-big, .cube-po-border-small{
  border: 2px solid #fff;
}
.cube-po:hover, .cube-po-big:hover, .cube-po-small:hover, .cube-po-border:hover, .cube-po-border-big:hover, .cube-po-border-small:hover {
  background-color #663947;
  opacity: 1;
}

/*===== CUBE-BROWN BUTTON =====*/
.cube-brown, .cube-brown-big, .cube-brown-small, .cube-brown-border, .cube-brown-border-big, .cube-brown-border-small {
  font-family: 'Open Sans';
  background-color: #86653d;
  color: #ffffff;
  display: inline-block;
  font-size:16px;
  padding: 13px 32px;
  cursor: pointer;
  opacity: .8;
}
.cube-brown-big, .cube-brown-border-big{
  font-size: 32px;
}
.cube-brown-small, .cube-brown-border-small{
  font-size: 12px;
  padding: 10px 10px;
}
.cube-brown-border, .cube-brown-border-big, .cube-brown-border-small{
  border: 2px solid #fff;
}
.cube-brown:hover, .cube-brown-big:hover, .cube-brown-small:hover, .cube-brown-border:hover, .cube-brown-border-big:hover, .cube-brown-border-small:hover {
  background-color #6c5232;
  opacity: 1;
}

/*===== ROUND-RED BUTTON =====*/
.round-red, .round-red-big, .round-red-small, .round-red-border, .round-red-border-big, .round-red-border-small {
  font-family: 'Open Sans';
  background-color: #f01e45;
  color: #ffffff;
  display: inline-block;
  font-size:15px;
  font-weight: bold;
  width: 100px;
  height: 100px;
  padding 20px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  opacity: .8;
}
.round-red-big, .round-red-border-big{
  font-size: 32px;
  width: 150px;
  height: 150px;
  text-align: center;
}
.round-red-small, .round-red-border-small{
  font-size: 12px;
  width: 50px;
  height: 50px;
}
.round-red-border, .round-red-border-big, .round-red-border-small{
  border: 2px solid #fff;
}
.round-red:hover, .round-red-big:hover, .round-red-small:hover, .round-red-border:hover, .round-red-border-big:hover, .round-red-border-small:hover {
  background-color #d7193d;
  opacity: 1;
}
/*===== ROUND-BLUE BUTTON =====*/
.round-blue, .round-blue-big, .round-blue-small, .round-blue-border, .round-blue-border-big, .round-blue-border-small {
  font-family: 'Open Sans';
  background-color: #4d98dc;
  color: #ffffff;
  display: inline-block;
  font-size:15px;
  font-weight: bold;
  width: 100px;
  height: 100px;
  padding 20px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  opacity: .8;
}
.round-blue-big, .round-blue-border-big{
  font-size: 32px;
  width: 150px;
  height: 150px;
}
.round-blue-small, .round-blue-border-small{
  font-size: 12px;
  width: 50px;
  height: 50px;
}
.round-blue-border, .round-blue-border-big, .round-blue-border-small{
  border: 2px solid #fff;
}
.round-blue:hover, .round-blue-big:hover, .round-blue-small:hover, .round-blue-border:hover, .round-blue-border-big:hover, .round-blue-border-small:hover {
  background-color #3f7bb2;
  opacity: 1;
}
/*===== ROUND-GREEN BUTTON =====*/
.round-green, .round-green-big, .round-green-small, .round-green-border, .round-green-border-big, .round-green-border-small {
  font-family: 'Open Sans';
  background-color: #6fd43f;
  color: #ffffff;
  display: inline-block;
  font-size:15px;
  font-weight: bold;
  width: 100px;
  height: 100px;
  padding 20px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  opacity: .8;
}
.round-green-big, .round-green-border-big{
  font-size: 32px;
  width: 150px;
  height: 150px;
}
.round-green-small, .round-green-border-small{
  font-size: 12px;
  width: 50px;
  height: 50px;
}
.round-green-border, .round-green-border-big, .round-green-border-small{
  border: 2px solid #fff;
}
.round-green:hover, .round-green-big:hover, .round-green-small:hover, .round-green-border:hover, .round-green-border-big:hover, .round-green-border-small {
  background-color #59a934;
  opacity: 1;
}
/*===== ROUND-YELLOW BUTTON =====*/
.round-yellow, .round-yellow-big, .round-yellow-small, .round-yellow-border, .round-yellow-border-big, .round-yellow-border-small {
  font-family: 'Open Sans';
  background-color: #ffc700;
  color: #ffffff;
  display: inline-block;
  font-size:15px;
  font-weight: bold;
  width: 100px;
  height: 100px;
  padding 20px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  opacity: .8;
}
.round-yellow-big, .round-yellow-border-big{
  font-size: 32px;
  width: 150px;
  height: 150px;
}
.round-yellow-small, .round-yellow-border-small{
  font-size: 12px;
  width: 50px;
  height: 50px;
}
.round-yellow-border, .round-yellow-border-big, .round-yellow-border-small{
  border: 2px solid #fff;
}
.round-yellow:hover, .round-yellow-big:hover, .round-yellow-small:hover, .round-yellow-border:hover, .round-yellow-border-big:hover, .round-yellow-border-small:hover {
  background-color #d6a700;
  opacity: 1;
}
/*===== ROUND-LIGHTBLUE BUTTON =====*/
.round-lightblue, .round-lightblue-big, .round-lightblue-small, .round-lightblue-border, .round-lightblue-border-big, .round-lightblue-border-small {
  font-family: 'Open Sans';
  background-color: #12cde3;
  color: #ffffff;
  display: inline-block;
  font-size:15px;
  font-weight: bold;
  width: 100px;
  height: 100px;
  padding 20px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  opacity: .8;
}
.round-lightblue-big, .round-lightblue-border-big{
  font-size: 32px;
  width: 150px;
  height: 150px;
}
.round-lightblue-small, .round-lightblue-border-small{
  font-size: 12px;
  width: 50px;
  height: 50px;
}
.round-lightblue-border, .round-lightblue-border-big, .round-lightblue-border-small{
  border: 2px solid #fff;
}
.round-lightblue:hover, .round-lightblue-big:hover, .round-lightblue-small:hover, .round-lightblue-border:hover, .round-lightblue-border-big:hover, .round-lightblue-border-small:hover {
  background-color #10b3c6;
  opacity: 1;
}

/*===== ROUND-BAIGE BUTTON =====*/
.round-baige, .round-baige-big, .round-baige-small, .round-baige-border, .round-baige-border-big, .round-baige-border-small {
  font-family: 'Open Sans';
  background-color: #19bc9b;
  color: #ffffff;
  display: inline-block;
  font-size:15px;
  font-weight: bold;
  width: 100px;
  height: 100px;
  padding 20px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  opacity: .8;
}
.round-baige-big, .round-baige-border-big{
  font-size: 32px;
  width: 150px;
  height: 150px;
}
.round-baige-small, .round-baige-border-small{
  font-size: 12px;
  width: 50px;
  height: 50px;
}
.round-baige-border, .round-baige-border-big, .round-baige-border-small{
  border: 2px solid #fff;
}
.round-baige:hover, .round-baige-big:hover, .round-baige-small:hover, .round-baige-border:hover, .round-baige-border-big:hover, .round-baige-border-small:hover {
  background-color #16a387;
  opacity: 1;
}

/*===== ROUND-PO BUTTON =====*/
.round-po, .round-po-big, .round-po-small,.round-po-border, .round-po-border-big, .round-po-border-small {
  font-family: 'Open Sans';
  background-color: #854a5c;
  color: #ffffff;
  display: inline-block;
  font-size:15px;
  font-weight: bold;
  width: 100px;
  height: 100px;
  padding 20px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  opacity: .8;
}
.round-po-big, .round-po-border-big{
  font-size: 32px;
  width: 150px;
  height: 150px;
}
.round-po-small, .round-po-border-small{
  font-size: 12px;
  width: 50px;
  height: 50px;
}
.round-po-border, .round-po-border-big, .round-po-border-small{
  border: 2px solid #fff;
}
.round-po:hover, .round-po-big:hover, .round-po-small:hover, .round-po-border:hover, .round-po-border-big:hover, .round-po-border-small:hover {
  background-color #663947;
  opacity: 1;
}

/*===== ROUND-BROWN BUTTON =====*/
.round-brown, .round-brown-big, .round-brown-small, .round-brown-border, .round-brown-border-big, .round-brown-border-small {
  font-family: 'Open Sans';
  background-color: #86653d;
  color: #ffffff;
  display: inline-block;
  font-size:15px;
  font-weight: bold;
  width: 100px;
  height: 100px;
  padding 20px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  opacity: .8;
}
.round-brown-big, .round-brown-border-big{
  font-size: 32px;
  width: 150px;
  height: 150px;
}
.round-brown-small, .round-brown-border-small{
  font-size: 12px;
  width: 50px;
  height: 50px;
}
.round-brown-border, .round-brown-border-big, .round-brown-border-small{
  border: 2px solid #fff;
}
.round-brown:hover, .round-brown-big:hover, .round-brown-small:hover, .round-brown-border:hover, .round-brown-border-big:hover, .round-brown-border-small:hover {
  background-color #6c5232;
  opacity: 1;
}

/*===== ROUND-IMAGE-RED BUTTON =====*/
.round-img-red, .round-img-red-big, .round-img-red-small{
  background-color: #f01e45;
  width:100px;
  height:100px;
  border-radius: 50%;
  border: 5px solid #f01e45;
  display: inline-block;
  opacity: .8;
}
.round-img-red:hover, .imground-red:hover, .round-img-red-big:hover, .imground-red-big:hover, .round-img-red-small:hover, .imground-red-small:hover{
  background-color #d7193d;
  opacity: 1;
}
.imground-red, .imground-red-big, .imground-red-small{
  border-radius: 50%;
  width:100px;
  height:100px;
  opacity: .8;
}
.round-img-red-big{
  width:200px;
  height:200px;
}
.imground-red-big {
  width:200px;
  height:200px;
}
.round-img-red-small{
  width: 50px;
  height: 50px;
  border: 2px solid #f01e45;
}
.imground-red-small{
  width: 50px;
  height: 50px;
}

/*===== ROUND-IMAGE-BLUE BUTTON =====*/
.round-img-blue, .round-img-blue-big, .round-img-blue-small{
  background-color: #4d98dc;
  width:100px;
  height:100px;
  border-radius: 50%;
  border: 5px solid #4d98dc;
  display: inline-block;
  opacity: .8;
}

.round-img-blue:hover, .imground-blue:hover, .round-img-blue-big:hover, .imground-blue-big:hover, .round-img-blue-small:hover, .imground-blue-small:hover{
  background-color #3f7bb2;
  opacity: 1;
}

.imground-blue, .imground-blue-big, .imground-blue-small{
  border-radius: 50%;
  width:100px;
  height:100px;
  opacity: .8;
}
.round-img-blue-big{
  width:200px;
  height:200px;
}
.imground-blue-big {
  width:200px;
  height:200px;
}
.round-img-blue-small{
  width: 50px;
  height: 50px;
  border: 2px solid #4d98dc;
}
.imground-blue-small{
  width: 50px;
  height: 50px;
}


/*===== ROUND-IMAGE-GREEN BUTTON =====*/
.round-img-green, .round-img-green-big, .round-img-green-small {
  background-color: #6fd43f;
  width:100px;
  height:100px;
  border-radius: 50%;
  border: 5px solid #6fd43f;
  display: inline-block;
  opacity: .8;
}
.round-img-green:hover, .imground-green:hover, .round-img-green-big:hover, .imground-green-big:hover, .round-img-green-small:hover, .imground-green-small:hover{
  background-color #59a934;
  opacity: 1;
}
.imground-green, .imground-green-big, .imground-green-small{
  border-radius: 50%;
  width:100px;
  height:100px;
  opacity: .8;
}
.round-img-green-big{
  width:200px;
  height:200px;
}
.imground-green-big{
  width:200px;
  height:200px;
}
.round-img-green-small{
  width: 50px;
  height: 50px;
  border: 2px solid #6fd43f;
}
.imground-green-small{
  width: 50px;
  height: 50px;
}

/*===== ROUND-IMAGE-YELLOW BUTTON =====*/
.round-img-yellow, .round-img-yellow-big, .round-img-yellow-small {
  background-color: #ffc700;
  width:100px;
  height:100px;
  border-radius: 50%;
  border: 5px solid #ffc700;
  display: inline-block;
  opacity: .8;
}
.round-img-yellow:hover, .imground-yellow:hover, .round-img-yellow-big:hover, .imground-yellow-big:hover, .round-img-yellow-small:hover, .imground-yellow-small:hover{
  background-color #d6a700;
  opacity: 1;
}
.imground-yellow, .imground-yellow-big, .imground-yellow-small {
  border-radius: 50%;
  width:100px;
  height:100px;
  opacity: .8;
}
.round-img-yellow-big{
  width:200px;
  height:200px;
}
.imground-yellow-big{
  width:200px;
  height:200px;
}
.round-img-yellow-small{
  width: 50px;
  height: 50px;
  border: 2px solid #ffc700;
}
.imground-yellow-small{
  width: 50px;
  height: 50px;
}

/*===== ROUND-IMAGE-LIGHTBLUE BUTTON =====*/
.round-img-lightblue, .round-img-lightblue-big, .round-img-lightblue-small {
  background-color: #12cde3;
  width:100px;
  height:100px;
  border-radius: 50%;
  border: 5px solid #12cde3;
  display: inline-block;
  opacity: .8;
}
.round-img-lightblue:hover, .imground-lightblue:hover, .round-img-lightblue-big:hover, .imground-lightblue-big:hover, .round-img-lightblue-small:hover, .imground-lightblue-small:hover{
  background-color #10b3c6;
  opacity: 1;
}
.imground-lightblue, .imground-lightblue-big, .imground-lightblue-small {
  border-radius: 50%;
  width:100px;
  height:100px;
  opacity: .8;
}
.round-img-lightblue-big{
  width:200px;
  height:200px;
}
.imground-lightblue-big{
  width:200px;
  height:200px;
}
.round-img-lightblue-small{
  width: 50px;
  height: 50px;
  border: 2px solid #12cde3;
}
.imground-lightblue-small{
  width: 50px;
  height: 50px;
}


/*===== ROUND-IMAGE-BAIGE BUTTON =====*/

.round-img-baige, .round-img-baige-big, .round-img-baige-small {
  background-color: #19bc9b;
  width:100px;
  height:100px;
  border-radius: 50%;
  border: 5px solid #19bc9b;
  display: inline-block;
  opacity: .8;
}
.round-img-baige:hover, .imground-baige:hover, .round-img-baige-big:hover, .imground-baige-big:hover, .round-img-baige-small:hover, .imground-baige-small:hover{
  background-color #16a387;
  opacity: 1;
}
.imground-baige, .imground-baige-big, .imground-baige-small {
  border-radius: 50%;
  width:100px;
  height:100px;
  opacity: .8;
}
.round-img-baige-big{
  width:200px;
  height:200px;
}
.imground-baige-big{
  width:200px;
  height:200px;
}
.round-img-baige-small{
  width: 50px;
  height: 50px;
  border: 2px solid #19bc9b;
}
.imground-baige-small{
  width: 50px;
  height: 50px;
}

/*===== ROUND-IMAGE-PO BUTTON =====*/
.round-img-po, .round-img-po-big, .round-img-po-small {
  background-color: #854a5c;
  width:100px;
  height:100px;
  border-radius: 50%;
  border: 5px solid #854a5c;
  display: inline-block;
  opacity: .8;
}
.round-img-po:hover, .imground-po:hover, .round-img-po-big:hover, .imground-po-big:hover, .round-img-po-small:hover, .imground-po-small:hover{
  background-color #663947;
  opacity: 1;
}
.imground-po, .imground-po-big, .imground-po-small {
  border-radius: 50%;
  width:100px;
  height:100px;
  opacity: .8;
}
.round-img-po-big{
  width:200px;
  height:200px;
}
.imground-po-big{
  width:200px;
  height:200px;
}
.round-img-po-small{
  width: 50px;
  height: 50px;
  border: 2px solid #854a5c;
}
.imground-po-small{
  width: 50px;
  height: 50px;
}


/*===== ROUND-IMAGE-BROWN BUTTON =====*/
.round-img-brown, .round-img-brown-big, .round-img-brown-small {
  background-color: #86653d;
  width:100px;
  height:100px;
  border-radius: 50%;
  border: 5px solid #86653d;
  display: inline-block;
  opacity: .8;
}
.round-img-brown:hover, .imground-brown:hover, .round-img-brown-big:hover, .imground-brown-big:hover, .round-img-brown-small:hover, .imground-brown-small:hover{
  background-color #6c5232;
  opacity: 1;
}
.imground-brown, .imground-brown-big, .imground-brown-small {
  border-radius: 50%;
  width:100px;
  height:100px;
  opacity: .8;
}
.round-img-brown-big{
  width:200px;
  height:200px;
}
.imground-brown-big{
  width:200px;
  height:200px;
}
.round-img-brown-small{
  width: 50px;
  height: 50px;
  border: 2px solid #86653d;
}
.imground-brown-small{
  width: 50px;
  height: 50px;
}

/*===== BUBBLE-RED BUTTON =====*/
.bubble-red {
  font-family: 'Open Sans';
  width: 120px;
  height: 80px;
  background: #f01e45;
  border-radius: 10px;
  display: inline-block;
  opacity: .8;
  text-align: center;
}

.bubble-red:before {
  content:"";
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 26px solid #f01e45;
  border-bottom: 13px solid transparent;
  margin: 13px 0 0 -25px;
}
.bubble-red:hover{
  background-color #d7193d;
  opacity: 1;
}


/*===== BUBBLE-BLUE BUTTON =====*/
.bubble-blue {
  font-family: 'Open Sans';
  width: 120px;
  height: 80px;
  background: #4d98dc;
  border-radius: 10px;
  display: inline-block;
  opacity: .8;
  text-align: center;
}

.bubble-blue:before {
  content:"";
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 26px solid #4d98dc;
  border-bottom: 13px solid transparent;
  margin: 13px 0 0 -25px;
}
.bubble-blue:hover{
  background-color #3f7bb2;
  opacity: 1;
}


/*===== BUBBLE-GREEN BUTTON =====*/
.bubble-green {
  font-family: 'Open Sans';
  width: 120px;
  height: 80px;
  background: #6fd43f;
  border-radius: 10px;
  display: inline-block;
  opacity: .8;
  text-align: center;
}

.bubble-green:before {
  content:"";
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 26px solid #6fd43f;
  border-bottom: 13px solid transparent;
  margin: 13px 0 0 -25px;
}
.bubble-green:hover{
  background-color #59a934;
  opacity: 1;
}

/*===== BUBBLE-YELLOW BUTTON =====*/
.bubble-yellow {
  font-family: 'Open Sans';
  width: 120px;
  height: 80px;
  background: #ffc700;
  border-radius: 10px;
  display: inline-block;
  opacity: .8;
  text-align: center;
}

.bubble-yellow:before {
  content:"";
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 26px solid #ffc700;
  border-bottom: 13px solid transparent;
  margin: 13px 0 0 -25px;
}
.bubble-yellow:hover{
  background-color #d6a700;
  opacity: 1;
}
/*===== BUBBLE-LIGHTBLUE BUTTON =====*/
.bubble-lightblue {
  font-family: 'Open Sans';
  width: 120px;
  height: 80px;
  background: #12cde3;
  border-radius: 10px;
  display: inline-block;
  opacity: .8;
  text-align: center;
}

.bubble-lightblue:before {
  content:"";
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 26px solid #12cde3;
  border-bottom: 13px solid transparent;
  margin: 13px 0 0 -25px;
}
.bubble-lightblue:hover{
  background-color #10b3c6;
  opacity: 1;
}


/*===== BUBBLE-BAIGE BUTTON =====*/

.bubble-baige {
  font-family: 'Open Sans';
  width: 120px;
  height: 80px;
  background: #19bc9b;
  border-radius: 10px;
  display: inline-block;
  opacity: .8;
  text-align: center;
}

.bubble-baige:before {
  content:"";
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 26px solid #19bc9b;
  border-bottom: 13px solid transparent;
  margin: 13px 0 0 -25px;
}
.bubble-baige:hover{
  background-color #16a387;
  opacity: 1;
}

/*===== BUBBLE-BAIGE BUTTON =====*/
.bubble-po {
  font-family: 'Open Sans';
  width: 120px;
  height: 80px;
  background: #854a5c;
  border-radius: 10px;
  display: inline-block;
  opacity: .8;
  text-align: center;
}

.bubble-po:before {
  content:"";
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 26px solid #854a5c;
  border-bottom: 13px solid transparent;
  margin: 13px 0 0 -25px;
}
.bubble-po:hover{
  background-color #663947;
  opacity: 1;
}

/*===== BUBBLE-BROWN BUTTON =====*/
.bubble-brown {
  font-family: 'Open Sans';
  width: 120px;
  height: 80px;
  background: #86653d;
  border-radius: 10px;
  display: inline-block;
  opacity: .8;
  text-align: center;
}

.bubble-brown:before {
  content:"";
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 26px solid #86653d;
  border-bottom: 13px solid transparent;
  margin: 13px 0 0 -25px;
}
.bubble-brown:hover{
  background-color #6c5232;
  opacity: 1;
}

