/** ==== Custom CSS ==== */
.bg-header {
    background: url(https://picsum.photos/1920/1920/?random) center center no-repeat;
    background-attachment: fixed;
  }
  
  .bg-quote {
    background: url(https://picsum.photos/1600/1600/?random) center center no-repeat;
    background-attachment: fixed;
  }