/*===== Font =====*/
@import url('https://fonts.googleapis.com/css?family=Bungee|Bungee+Shade|');
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
/*===== Scrollbar =====*/
::-webkit-scrollbar {width: 8px;height: 24px;}
::-webkit-scrollbar-track-piece {background:#1d1e1f;}
::-webkit-scrollbar-thumb:vertical {height:6  px;background:#171717;}
::-webkit-scrollbar-thumb:vertical:hover {background: pink;}
::-webkit-scrollbar-thumb:horizontal {width:10px;background:#171717;}
::-webkit-scrollbar-thumb:horizontal:hover {background:#71CA55;}

/*===== BODY =====*/
body{
  font-family:  'Open Sans';
  background-color: #222222;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  width: 60%;
}

h1{
  font-family: 'Bungee Shade';
  font-size: 70px;
  color: pink ;
}
h2 {
  font-family: 'Open Sans';
	font-size: 1.5em;
	color: MistyRose;
	margin: 0;
	padding: 5px;
	margin-top: 30px;
}
h2 class_name {
  color: pink;
}
p {
  font-family: 'Open Sans';
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
}
a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  opacity: .8;
}
a:hover{
  opacity: 1;
  color: pink;
}

/* HISTORY
/*------------------------
ALL Brand And Social Icons - Circle (.icon-circle)
~ 45 items ~

Social Icons - Zoom (.icon-circle + .icon-zoom)
~ 11 items ~

Social Icons - Rotate (.icon-circle + .icon-rotate)
~ 11 items ~

Social Icons - Rounded (.icon-rounded)
~ 11 items ~

Social Icons - Flat  (.icon-flat)
~ 11 items ~
----------------------------*/

.list-unstyled {
	padding-left: 0;
	list-style: none;
}
.list-inline li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	margin-bottom: 10px;
}

/*Change icons size here*/
.social-icons .fa {
	font-size: 1.8em;
}
/*===== BASE ICONS =====*/
.social-icons .fa {
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: rgba(255, 255, 255, 0.8);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

/*=====  Circle ICONS =====*/
.social-icons.icon-circle .fa{
	border-radius: 50%;
}

/*=====  Rounded ICONS =====*/
.social-icons.icon-rounded .fa{
	border-radius:5px;
}

/*===== FLAT ICONS =====*/
.social-icons.icon-flat .fa{
	border-radius: 0;
}

/*===== Hover Color=====*/
.social-icons .fa:hover, .social-icons .fa:active {
	color: white;
	-webkit-box-shadow: 1px 1px 3px #333;
	-moz-box-shadow: 1px 1px 3px #333;
	box-shadow: 1px 1px 3px #333;
}

/*===== Hover Zoom =====*/
.social-icons.icon-zoom .fa:hover, .social-icons.icon-zoom .fa:active {
 	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

/*===== Hover Rotate=====*/
.social-icons.icon-rotate .fa:hover, .social-icons.icon-rotate .fa:active {
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
	transform: scale(1.1) rotate(360deg);
}

.social-icons .fa-adn{background-color:#504e54;}
.social-icons .fa-apple{background-color:#aeb5c5;}
.social-icons .fa-android{background-color:#A5C63B;}
.social-icons .fa-bitbucket,.social-icons .fa-bitbucket-square{background-color:#003366;}
.social-icons .fa-bitcoin,.social-icons .fa-btc{background-color:#F7931A;}
.social-icons .fa-css3{background-color:#1572B7;}
.social-icons .fa-dribbble{background-color:#F46899;}
.social-icons .fa-dropbox{background-color:#018BD3;}
.social-icons .fa-facebook,.social-icons .fa-facebook-square{background-color:#3C599F;}
.social-icons .fa-flickr{background-color:#FF0084;}
.social-icons .fa-foursquare{background-color:#0086BE;}
.social-icons .fa-github,.social-icons .fa-github-alt,.social-icons .fa-github-square{background-color:#070709;}
.social-icons .fa-google-plus,.social-icons .fa-google-plus-square{background-color:#CF3D2E;}
.social-icons .fa-html5{background-color:#E54D26;}
.social-icons .fa-instagram{background-color:#A1755C;}
.social-icons .fa-linkedin,.social-icons .fa-linkedin-square{background-color:#0085AE;}
.social-icons .fa-linux{background-color:#FBC002;color:#333;}
.social-icons .fa-maxcdn{background-color:#F6AE1C;}
.social-icons .fa-pagelines{background-color:#241E20;color:#3984EA;}
.social-icons .fa-pinterest,.social-icons .fa-pinterest-square{background-color:#CC2127;}
.social-icons .fa-renren{background-color:#025DAC;}
.social-icons .fa-skype{background-color:#01AEF2;}
.social-icons .fa-stack-exchange{background-color:#245590;}
.social-icons .fa-stack-overflow{background-color:#FF7300;}
.social-icons .fa-trello{background-color:#265A7F;}
.social-icons .fa-tumblr,.social-icons .fa-tumblr-square{background-color:#314E6C;}
.social-icons .fa-twitter,.social-icons .fa-twitter-square{background-color:#32CCFE;}
.social-icons .fa-vimeo-square{background-color:#229ACC;}
.social-icons .fa-vk{background-color:#375474;}
.social-icons .fa-weibo{background-color:#D72B2B;}
.social-icons .fa-windows{background-color:#12B6F3;}
.social-icons .fa-xing,.social-icons .fa-xing-square{background-color:#00555C;}
.social-icons .fa-youtube,.social-icons .fa-youtube-play,.social-icons .fa-youtube-square{background-color:#C52F30;}
