:root {
  --gray: #ededed;
  --red: #e74c3c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font: 20px/30px sans-serif;
}

h1 {
  padding: 0 15px;
  margin: 10vh 0;
  line-height: normal;
  text-align: center;
}

.img-wrapper {
  display: grid;
  height: 100vh;
}

.img-wrapper div {
  grid-column: 1;
  grid-row: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--gray);
  transition: opacity 0.1s;
}

section:last-of-type {
  max-width: 800px;
  padding: 0 15px;
  margin: 15vh auto;
}

section:last-of-type p + p {
  margin-top: 20px;
}
