@tailwind base;

body {
		font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5 {
	font-weight:700;
}

.accent-a {
	color:#2bd2de;
}

.gb-sec-how {
	background:url(https://ghostbed-staging.s3.amazonaws.com/shopify/gra-ghostbed-cutaway-b.jpg) center center no-repeat;
	background-size: 85%;
	min-height:620px;
}


.text-green-500 {
		color:#77bd43
}

.bg-gray-100 {
	background:#fafbfc;
}

