@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");
:root {
  --primary-color: #dfd1d1;
  --bg-color: 	#313131;
  --heading-color: #df6a87;
  --kaguya: #c56a88;
}

html {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--primary-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font: 22px "Courier New", Courier, monospace;
  font-family: 'Balsamiq Sans', cursive;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

body {
  background: var(--bg-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1em;
  padding: 1em;
  font-family: 'Balsamiq Sans', cursive !important;
  font-size: 22px !important;
}

.darkmode-toggle, .darkmode-layer {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 75%;
  transform: scale(0.6);
  font-size: 30px;
  outline: none;
}

h1 {
  color: var(--heading-color);
  font-size: 2em;
  grid-column: 1 / -1;
  margin: 0;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

a:focus,
a:hover {
  color: var(--kaguya);
}

nav {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 1em;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin: 0 1em;
  min-width: 24em;
  padding: 1em 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

li:first-child {
  color: var(--heading-color);
  font-weight: bold;
  line-height: 2em;
  font-size: 1.2em;
}

li:not(first-child) {
  font-size: 1em;
}

img {
  border: 2px solid var(--primary-color);
  height: auto;
  object-fit: cover;
  object-position: 50% 100%;
  width: 8em;
}